<!DOCTYPE html>
<html>
<head>
  <title> <%= title %></title>
  <%= render 'layouts/stylesheets' %>
</head>
<body>
  <div class="container">
    <header>
        <%= render 'layouts/header' %>
      </nav>
    </header>
    <section class="round">
      <%= yield %>
    </section>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
